registry=https://registry.npmjs.org/
save-exact=true
node-linker=isolated
enable-pre-post-scripts=true
manage-package-manager-versions=false
package-manager-strict=true
package-manager-strict-version=true
